html, body {margin: 0; padding: 0; height: 100%; text-align: center;}
section {min-height: 100%;}
a {text-decoration: none;}
li {list-style-type: none;}

h2, h3, h5, a {font-family: 'Roboto', sans-serif; font-weight: 500; color: #494949; text-transform: uppercase;}
h1, h6 {font-family: 'Roboto', sans-serif; font-weight: 500; color: #494949;}
h2 {color: white;}
h3 {font-size: 40px; padding-top: 6%; margin-bottom: 5px;}
h5 {font-size: 40px; padding-top: 0; margin-bottom: 5px;}
h4, p {font-family: 'Roboto Slab', serif; color: #494949;}

hr {width: 30px; height: 3px; background: #494949; border: 0; margin: 0 auto 40px auto;}
#logo, li, img, .button, .fa-bars {transition: all 300ms; -webkit-transition: all 300ms; -moz-transition: all 300ms; -o-transition: all 300ms;}
.fa-bars {display: none;}

/* Header ********************************************/

header {
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#logo {
  width: 140px;
  float: left;
  margin: 10px 0 0 50px;
}

#logo:hover {
  opacity: 0.5;
}

#logo img {
  width: 100%;
}

header nav {
  float: right;
  margin: 10px 50px 0 0;
}

header nav ul li {
  float: left;
  margin-left: 25px;
}

header nav ul li a {
  font-size: 16px;
}

header nav ul li:hover {
  padding-top: 5px;
}


/* Home ********************************************/

#home {
  background: url(../img/interests-landing.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#home h1 {
  margin: 15% auto 0 auto;
  font-size: 110px;
}

#home h2 {
  margin: 0 auto 0 auto;
  font-size: 25px;
}

#home img {
  width: 32px;
  margin-top: 150px;
  opacity: 0.7;
}

#home img:hover {
  opacity: 1;
}

/* profile ********************************************/

#profile {
    background: white;
    background-position: center center;
    background-size: cover;
    height: 1600px;
}
#profile p {
  float: left;
  margin-left: 23%;
  margin-right: 23%;
  text-align: justify;
}
#profile b {
  float: left;
}


/* ABOUT ********************************************/
/* WHOLE SECTION **/
#about1 {
  background-color: #f0f0f0;
}
#about1 {
  height: 740px;
}

/* EACH PART **/

#about {
  width: 1100px;
  margin: 0 auto 0 auto;
}

#about ul {
  padding: 0;
}

#about ul li {
  width: 33.3%;
  float: left;
  margin-bottom: 30px;
}

#about img {
  width: 320px;
  height: 194px;
  border-radius: 5px;
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}

#about img:hover {
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}



/* Contact ********************************************/

footer {
  height: 50px;
}

footer p {
  font-size: 12px;
  color: #f0f0f0;
  padding-top: 30px;
}

footer ul li{
  display: inline-block;
  margin: 0 40px 0 0;
}

/* ICONS in FOOTER *************************************/

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none;
		}

		.icon > .label {
			display: none;
		}

		.icon.style2 {
			-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
			-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
			-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
			transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
			background-color: transparent;
			border: solid 1px #c9c9c9;
			border-radius: 4px;
			width: 2.65em;
			height: 2.65em;
			display: inline-block;
			text-align: center;
			line-height: 2.65em;
			color: inherit;
		}

			.icon.style2:before {
				font-size: 1.1em;
			}

			.icon.style2:hover {
				color: black;
				border-color: black;
			}

			.icon.style2:active {
				background-color: rgba(242, 132, 158, 0.1);
			}



/* Media Queries ********************************************/
/* Tablets */
@media screen and (max-width: 1024px){
  header {
    height: auto;
  }
  #logo {
    width: 100px;
    margin-top: 5px;
  }
  #about1 {
    height: auto;
  }
  #profile {
    height: 1400px;
  }
  header nav {
    margin-top: 0;
  }
  header nav ul li {
    font-size: 12px;
  }
  #home h1 {
    font-size: 90px;
    margin-top: 15%;
  }
  #home h2 {
    font-size: 22px;
  }
  h3 {
    padding-top: 50px;
  }
  #about {
    width: auto;
  }
  #about ul li {
    width: 100%;
    float: none;
  }
  #about ul li:last-child {
    padding-bottom: 20%;
  }
  #about img {
    width: 55%;
    height: auto;
  }
  form input, form textarea {
    width: 60%;
  }
  .button {
    width: 62%;
  }
}
/* Smartphones */
@media screen and (max-width: 545px){
  #logo {
    width: 90px;
    margin-left: 30px;
  }
  #about1 {
    height: auto;
  }
  header nav {
    margin: 0;
    float: none;
  }
  .fa-bars {
    font-size: 17px;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    text-align: right;
    float: right;
    margin: -25px 30px 0 0;
  }
  .fa-bars:hover {
    opacity: 0.5;
  }
  header nav ul {
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  header nav ul.open {
    height: auto;
  }
  header nav ul li {
    width: 100%;
    padding: 5px 0;
    margin: 0;
    font-size: 11px;
    border-top: 1px solid #dddddd;
  }
  header nav ul li:hover{
    background-color: #eeeeee;
  }
  #home h1 {
    font-size: 60px;
    margin-top: 30%;
  }
  #home h2 {
    width: 70%;
    height: auto;
  }

  #profile {
    background: none;
    height: 3300px;
  }

  #profile p {
    margin-left: 10%;
    margin-right: 10%;
}

  #profile iframe {
    width:70%;
    height: 70%;
  }

  #about img {
    width: 70%;
    height: auto;
  }
  form input, form textarea {
    width: 70%;
  }
  .button {
    width: 72%;
  }
}
